.container {
  background-color: #EBEDF3;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: 4rem 2rem;
  min-height: 100vh;
}

.main {
  background-color: #EBEDF3;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.post {
  width: max(80%);
}

.post, .product, .community {
  padding: 1em;
  background-color: #FFFFFF;
  border: 1px solid #EBEDF3;
  border-radius: 6px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product {
  padding: 16px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.community {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.communityHeader {
  margin: 0;
}

.communityMembers {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.avatar {
  border-radius: 30px;
}

.communityMember {
  display: flex;
  gap: 12px;
}

.nameAndBadge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}


.badge {
  display: flex;
  gap: 4px;
  background-color: #DDE0E8;
  padding: 4px 8px;
  border-radius: 40px;
  align-items: center;
}